.card-deck {
  display: flex;
}

.lead {
  font-size: large;
}

.jumbotron {
  background-image: url("../assests/Home.jpg");
  color: white;
  padding-top: 5%;
  padding-bottom: 8%;
}

.btn {
  width: 40%;
}
