.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .not-found-card {
    background-color:rgb(113,113,220);
  }
  
  .icon {
    margin-bottom: 20px;
  }

  #anch {
    color: white;
  }