body {
  background-size: cover;
}

.homePage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imageContainer{
  flex:1;
  padding: 20 px;
  width: 600px;
}


.col-sm-9 {
  margin: 0 auto;
  text-align: center;
}

*[role="form"] h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
