server:
  port: 8081
spring:
  application:
    name: banking-app
  datasource:
    url: jdbc:mariadb://localhost:3306/banking_app
    username: root
    password: Password@1
  jpa:
   hibernate:
    ddl-auto: update
   show-sql: true
  mail:
   host: smtp.gmail.com
   port: 587
   username: nitinagarwal24122000@gmail.com
   password: zxhimqnljjuquzyc
   protocol: smtp
   tls: true
   properties.mail.smtp:
        auth: true
        starttls.enable: true
        ssl.trust: smtp.gmail.com